:root {
    --primary-color: #25478fd5;
    --secondary-color: #05948a;
    --accent1-color: #000;
    --accent2-color: #317880;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: auto;
    margin: 0 auto;
}

header {
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

nav {
    grid-column: 2/span 2;
}


nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li{
    flex: 1 1 auto;
}
nav a {
    color: navy;
    padding: 20px;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}

.history {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.adventure{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.adventure img {
    width: 200px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.socialmedia a{
    text-decoration: none;
}

.socialmedia a img{
    width: 50px
}

.hero {
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 10px;
    width: 95%;
    padding: 4px;
    text-align: left;
    opacity: 0.9;
    background-color: var(--secondary-color);
    color: #000000
}

.hero article img{
    float: right;
    width: 85px;
    border: 1px solid #111111;
}