:root {
    --text: center;
    --border: 1px solid black;
    --height: auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
} */

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: var(--height);
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    max-width: 20rem;
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text);
    position: relative;
}

aside img {
    width: 100%;
    height: var(--height);
    text-align: var(--text);
}

aside h2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3rem;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: var(--text);
}

/* Class Selectors */
.box {
    border: 0.2rem solid #b71234;
    padding: 1rem;
    margin: 1rem;
    background-color: #cccaca;
    color: #1a044e
}